nav {
}

nav {
    display: flex;
    color: #ffffff;
}

ul {
    display: flex;
    list-style-type: none;
}

ul li a {
    padding-right: 52px;
    color: #ffffff;
    list-style-type: none;
    text-decoration: none;
}

.ti-search:before {
    margin-left: 138px;
}

.wrapper {
    background-color: #222;
    color: #ffffff;
}

body {
    background-color: #222;
}

.wrapper {
    min-height: 70vh;
}

ul li {
    list-style-type: none;
}

html,
body {
    overflow-x: hidden;
    max-width: 100%;
}

@media (max-width:549px) {
    ul li a {
        text-decoration: none;
        font-size: 1rem;
        padding-right: 14px;
    }

    .my_logo {
        font-size: .5rem;
    }

    .about h1 {
        margin-left: 65px;
        color: #c56666;
    }
}

.skills p {
    color: #efecec;
}

.about h1 {
    color: #bc8080;
}

.about {
    min-height: 70vh;
    background-color: #ffffff
}

.social-icons ul li a,
span {
    color: #dee5ef;
    margin-left: -5px;
    padding-left: 0px;
    padding-right: 2px;
}
header span {
     font-size: 31px;
}
.inner-desc h1 {font-size: 5rem; color: #f37474;}


nav ul {padding-right: 161px; margin-right: -9px; margin-left: 8px; padding-left: 7px;}
#projects{
    background-color: #ffffff;

 }

#projects h1{
text-align: center;
}
.my_logo{
    background-color: red
}
@media (min-width:550px) and (max-width:749px) {
    .list_of_contacts {
        display: block;
    }
}

@media (min-width:550px) {
    .list_of_contacts {
        position: flex;
        display: flex;
    }
}

.ti-search {
    display: hidden;
}

@media (min-width:550px) {
    .social-icons li {
        display: block;
        padding-left: 5rem;
        display: block;
        position: flex;
    }
}

#skills h1 {
    color: #fffbfb;
    text-align: center;
}

@media (min-width:550px) {
    .list_of_contacts {
        display: block;
    }

    .list_of_contacts {
        display: flex;
    }
}

@media (max-width:549px) {
    .list_of_contacts {
        display: block;
    }

    #projects img {
        justify-content: start;
        align-items: flex-end;
        align-content: space-around;
        flex-direction: column-reverse;
        align-self: flex-start;
        padding-left: 0rem;
    }
}